html {
  background: #505D6E url(../images/body4.jpg) no-repeat center center fixed;
  min-height: 100%;
  background-size: cover;
}

body {
  background: transparent;
  min-height: 100%;
  line-height: 1.5em;
  font-size: 14px;
  font-weight: normal;
  color: rgba(255, 255, 255, .8);
  -webkit-overflow-scrolling: touch;
}


.section {
  z-index: 1;
  min-height: 420px;
  width: 100%;
  overflow: auto;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  top: 0;
}

.hidden {
  display: none;
}
